<FXMailQueue>
  
  <!-- 
    ********************************************
    Customer FX Mail Queue Job for Infor CRM 
    
    For more information:
    http://customerfx.com/tool/mail-queue-job/ 
  
    ALL CONFIG VALUES REQUIRED
    ********************************************
  -->

  <!-- Turn on/off job (True/False) -->
  <Enabled>True</Enabled>
  
  <!-- The SMTP server address -->
  <SmtpServer></SmtpServer>
  
  <!-- The SMTP user to authenticate with -->
  <SmtpUser></SmtpUser>
  
  <!-- The password for the SMTP User -->
  <SmtpPassword></SmtpPassword>
  
  <!-- The SMTP server port. Default is 25 -->
  <SmtpPort>25</SmtpPort>
  
  <!-- Whether to use SSL for the SMTP connection. (True/False) -->
  <SmtpUseSSL>False</SmtpUseSSL>
  
  <!-- Indicates the default from address if not provided on the MailQueue record -->
  <DefaultFromAddress></DefaultFromAddress>
  
</FXMailQueue>